# Backend
backend/messenger
backend/messenger.db
backend/uploads/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Flutter
app/.dart_tool/
app/.packages
app/.pub-cache/
app/.pub/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Env
.env
.env.local
*.pem
